<%= render partial: 'templates/template', locals: { book: @book , user: @user} %>
<h1>Books</h1>
<% @books.each do |book| %>
<%= image_tag book.user.get_profile_image(100, 100) %>
<%= link_to book.title, book_path(book.id) %>
<%= book.body %>
<% end %>